{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sign Up</title>
		<link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Capriola|Nosifer" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Gabriela" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Gabriela" rel="stylesheet">
		<!-- p -->
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<!-- submit -->
		<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'sigin/overall.css' %}">
        <link rel="stylesheet" href="{% static 'sigin/semantic.min.css' %}">
        <link rel="stylesheet" href="{% static 'sigin/iziToast.css' %}">
        <link href="{% static 'sigin/main.c5f166fc.chunk.css' %}" rel="stylesheet">

	</head>

	<body style="overflow-y:scroll"><div id="fb-root"></div>
    <noscript>You need to enable JavaScript to run this app.</noscript><div id="root"><div><div class="blue-bckg">
        <div class="ui container"><div class="sixteen wide column"><div class="text-center"><a href="/">
            <img class="signin-logo" alt="roqqu logo" src="/static/media/logo_white.4f91a3a0.png"></a></div>
                 <div class="container">
    <h3 class="white-important">You've been logged out</h3>
    <div class="pt-3">
        <small class="text-muted">
            Login again? <a class="ml-2" href="{% url 'login' %}">Login</a>
        </small>
    </div>
</div>
             </div>
        </div>
    </div>
        <a id="gotosettings" href="/wallet/settings/profile"></a>
    </div>
    </div>
    <script type="application/javascript" src="{% static 'sigin/jquery.min.js' %}"></script>

     </body>
</html>


